{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Log In</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info btn-md my-2" type="submit">Login</button>
                            <small class="text-muted mx-3 my-2">
                                <a style="text-decoration: none;" href="{% url 'password_reset' %}"> Forgot Password? </a>
                            </small>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need an account? 
                            <a style="text-decoration: none;" class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}