{% extends "blog/base.html"%}

{% block content %}
{% for post in posts %}
    <article class="media content-section mt-2">
		<div class="row ">
			<div class="col-auto mt-2">
				<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
			</div>
			<div class="media-body col-auto">
				<div class="article-metadata">
					<a style="text-decoration: none;" class="mr-2" href="#">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
				</div>
				<h4 class="mt-2"><a style="text-decoration: none;" class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
			</div>
		</div>
		<p class="article-content">{{ post.content }}</p>
    </article>
{% endfor %}

{% endblock content %}