{% extends "blog/base.html"%}

{% block content %}
    <article class="media content-section">
		<div class="row">
			<div class="col-auto mt-2">
				<a style="text-decoration: none;" class="mr-2" href="{% url 'user-posts' post.author.username %}">
					<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
				</a>
			</div>
			<div class="media-body col-auto">
				<div class="article-metadata">
					<a style="text-decoration: none;" class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
					<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
					{% if object.author == user %}
					<div>
						<a class="btn btn-secondary btn-sm mt-2 mb-2" href="{% url 'post-update' object.id %}">Update</a>
						<a class="btn btn-danger btn-sm mt-2 mb-2" href="{% url 'post-delete' object.id %}">Delete</a>
					</div>
					{% endif %}
				</div>
				<h2 class="article-title my-2">{{ object.title }}</h2>
			</div>
		</div>
		<p class="article-content mt-2">{{ object.content }}</p>
    </article>

{% endblock content %}